<p-dialog
  [header]="'settings.title' | translate"
  [(visible)]="visible"
  (onHide)="onHide()"
  [modal]="true"
  [style]="{ width: '450px' }"
  [draggable]="false"
  [resizable]="false"
  styleClass="custom-dialog">

  <div class="p-6">
    <div class="mb-6">
      <label class="block mb-3 font-semibold text-blue-900 text-lg">{{ 'settings.language' | translate }}</label>
      <p-select
        [(ngModel)]="selectedLanguage"
        [options]="languages"
        optionLabel="label"
        optionValue="code"
        [placeholder]="'settings.selectLanguage' | translate"
        (onChange)="onLanguageChange()"
        styleClass="w-full">
      </p-select>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      [label]="'settings.close' | translate"
      (click)="close()"
      class="p-button-outlined">
    </button>
  </ng-template>
</p-dialog>
