::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-dialog {
  z-index: 1100 !important;
}

::ng-deep .p-dialog-mask {
  z-index: 1099 !important;
}

::ng-deep .p-select {
  width: 100%;
}

::ng-deep .p-select-overlay {
  z-index: 1101 !important;
}
