<div class="mb-3">
    <div class="flex gap-2 mb-2">
        <button pButton type="button" icon="pi pi-filter" (click)="toggleFilters()">
            {{ (showFilters ? 'planetTable.hideFilters' : 'planetTable.showFilters') | translate }}
        </button>

        <select [(ngModel)]="bodyTypeFilter" (change)="onBodyTypeFilterChange()" class="p-2 border rounded">
            <option value="all">{{ 'planetTable.filterAll' | translate }}</option>
            <option value="planets">{{ 'planetTable.filterPlanets' | translate }}</option>
            <option value="satellites">{{ 'planetTable.filterSatellites' | translate }}</option>
        </select>
    </div>

    <div *ngIf="showFilters" class="filters-panel">
        <h5 class="mb-3">{{ 'planetTable.selectColumns' | translate }}</h5>
        <div class="filter-options">
            <div *ngFor="let col of columns" class="filter-option">
                <p-checkbox
                    [(ngModel)]="col.visible"
                    [binary]="true"
                    [inputId]="col.field"
                    (onChange)="onColumnToggle()">
                </p-checkbox>
                <label [for]="col.field">{{ col.header }}</label>
            </div>
        </div>
    </div>
</div>

<p-table #dt [value]="filteredBodies" sortMode="multiple">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-end">
            <button pButton type="button" (click)="dt.exportCSV()">{{ 'planetTable.downloadCSV' | translate }}</button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of visibleColumns" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-body>
        <tr (click)="goToDetails(body)" [style.cursor]="body.type === 'planet' ? 'pointer' : 'default'">
            <td *ngFor="let col of visibleColumns">
                {{ getFieldValue(body, col.field) }}
            </td>
        </tr>
    </ng-template>
</p-table>
