/* Import PrimeNG styles */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body { margin: 0; font-family: system-ui, Roboto, Arial, sans-serif; }
.app-shell { padding: 16px; }
