<div *ngIf="planet">
  <div class="flex justify-end mb-4">
    <button pButton type="button" (click)="goBack()" class="p-button-text">
      {{ 'planetDetails.backToList' | translate }}
    </button>
  </div>

  <!-- Use the shared component for planet details -->
  <app-celestial-body-details [body]="planet" [type]="'planet'"></app-celestial-body-details>

  <!-- Satellites Table -->
  <p-card [header]="'planetDetails.satellites' | translate" class="mb-4" *ngIf="satellites.length > 0">
    <p-table [value]="satellites" [scrollable]="true" styleClass="p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr class="bg-blue-600 text-white">
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.name' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.diameter' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.distanceFromPlanet' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.orbitalPeriod' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.mass' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.discoveryYear' | translate }}</th>
          <th class="text-white bg-blue-600">{{ 'planetDetails.satelliteTable.discoverer' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-satellite>
        <tr
          (click)="goToSatelliteDetails(satellite)"
          class="bg-white hover:bg-blue-100 cursor-pointer transition-colors"
          data-cy="satellite-row">
          <td class="text-gray-900 bg-white">{{satellite.name}}</td>
          <td class="text-gray-900 bg-white">{{satellite.diameter}}</td>
          <td class="text-gray-900 bg-white">{{satellite.distanceFromPlanet}}</td>
          <td class="text-gray-900 bg-white">{{satellite.orbitalPeriod}}</td>
          <td class="text-gray-900 bg-white">{{satellite.mass}}</td>
          <td class="text-gray-900 bg-white">{{satellite.discoveryYear}}</td>
          <td class="text-gray-900 bg-white">{{satellite.discoverer}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
